{% extends 'base.html.twig' %}

{% block title %}Hello CrearController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
                <div class="card shadow">
                     <div class="card-header">Como te sientes?</div>
                        <div class="card-body">
                            {{form(formulario)}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
